# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
web-build/
dist/

# Android
mobile/android/build/
mobile/android/app/build/
mobile/android/.gradle/
mobile/android/local.properties
*.apk

# iOS
mobile/ios/Pods/
mobile/ios/build/
*.ipa
*.xcworkspace
*.xcuserdatad

# System
.DS_Store
.env
coverage/
